.footer {
  max-height: 216px;
  background-color: $mainColor;
  color: $whiteColor;
  a {
		color: $whiteColor;
    @media (any-hover: hover) {
      &:hover {
        color: $greenColor;
      }
    }
  }
  &__container {
  max-height: 196px;
  min-height: 60px;
  line-height: 120%;
  margin-bottom: 10px;
  @include adaptiv-value("font-size", 18, 16, 1);
  }
  &_link {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &_svg {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
}

.menu-footer__list {
  display: flex;
  align-items: center;
  padding: 4px 4px 10px 8px;
  margin: 26px 0;
  gap: 10px;
  justify-content: space-around;
  @media (max-width: $md3+px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
}
.menu-footer__logo {
  width: 150px;
  height: 36px;
  @media (max-width: $md3+px) {
    width: 100px;
    height: 18px;
    margin-bottom: 16px;
  }
}
//====================================================================================================
