//====================================================================================================
img {
  width: 100%;
  height: 100%;
	object-fit: contain;
  &:hover {
    opacity: 0.5;
  }
}
a {
  color: $mainColor;
  text-decoration: none;
  &:hover {
    transition: color 0.3s ease 0s;
    color: $greenColor;
  }
}
//==========================
._title_h1 {
	font-family: $fontFamilyTitle;
}
._title {
  font-size: $fontSizeTitle;
  font-weight: $fontWeightTitle;
}
._heart {
	font-size: 23px;
	align-self: center;
}
.heart {
	color: black;
	&:hover {
		animation: fill 0.8s ease-in-out;
		display: inline-block;
		opacity: 1;
		background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-weight: bold;
	}			
}

//<KEYFRAMES ANIMATIONS FOR PAGES>====================================================================================================
@keyframes list__drop {
	0% {
			opacity: 0;
	}
	60% {
			opacity: 0;
			transform: translate3d(0, 100%, 0)
	}
	100% {
			opacity: 1;
			transform: none;
	}
}
@keyframes slide__check {
	from {
		transform: translateX(100%);

	}
	to {
		transform: translateX(0);	
	}
}
@keyframes slide__price {
	from {
		transform: translateX(0);

	}
	to {
		transform: translateX(-200%);	
	}
}
@keyframes slide__price_reverse {
	from {
		transform: translateX(-200%);

	}
	to {
		transform: translateX(0);	
	}
}
@keyframes move__check {
  from {
		transform: rotate(0deg);
  }

  to {
		transform: rotate(1turn);
  }
}
@keyframes slide__check__reverse {
	from {
		transform: translateX(40%);
		opacity: 1;
	}
	to {
		transform: translateX(100%);	
	}
}
//<KEYFRAMES ANIMATIONS>====================================================================================================